name: Maven CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    # Étape 1 : Tests existants
    - name: Run tests
      run: mvn clean test
      
    # Étape 2 : Ajout package
    - name: Build with Maven
      run: mvn package -DskipTests
      
    # Étape 3 : Sauvegarde artifact
    - name: Save build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: bankapp-jar
        path: target/*.jar
        retention-days: 7
